<html lang="zh-tw">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/desktop.css">
        <title>Desktop</title>
    </head>
    <body>
        YukioOUI内部測試單元
        未經許可請勿外傳
        <div id="dock">
            <ul id="dock-list">
                <li class="icon" onclick="createWindow('小圓帽雲服務', 100, 200)">
                    <img src="/res/img/icons/cloud.png">
                </li>
                
            </ul>
        </div>
        <script src="/scripts/popUpWindow.js"></script>
    </body>
</html>