<html lang="zh-tw">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/desktop.css">
        <title>Desktop</title>
    </head>
    <body>
        <header>git-<%= gitVersion %></header>
        <div id="dock">
            <ul id="dock-list">
                <li class="icon" onclick="createWindow('小圓帽雲服務', '/filemanager', 700, 900)">
                    <img src="/res/img/icons/cloud.png" draggable="false">
                </li>
                <li class="icon" onclick="showNotifiction(5, 'debug', 'YukioOUI内部測試單元')">
                    <img src="/res/img/icons/test.jpg" draggable="false">
                </li>
                <li class="icon" onclick="createWindow('設定', '/settings', 500, 600)">
                    <img src="/res/img/icons/settings.png" draggable="false">
                </li>
            </ul>
        </div>
        <script src="/scripts/popUpWindow.js"></script>
        <script src="/scripts/notifiction.js"></script>
        <script src="/scripts/Sortable.min.js"></script>
        <script src="/scripts/icons.js"></script>
    </body>
</html>