<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settings.css">
    <title>設定</title>
</head>
<body>
    <div class="settings">
        <ul>
            <li><span>版本號：<%= gitVersion %></span></li>
            <li><span>背景圖像</span>
                <br>
                <div id="background_set">
                    <img src="/res/img/background.jpg" class="active">
                </div>
            </li>
        </ul>
    </div>
</body>
</html>